body {
  margin: 0px;
}

.parent {
  display: flex;
  flex-direction: column;
}

.parent-1 {
  display: flex;
  background-color: #133b20;
  padding: 1rem;
  align-items: flex-end;
  width: 1409px;
  justify-content: flex-start;
}

.header {
  color: #f9f8fa;
  font: 24px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 70px;
}

.links {
  display: flex;
  justify-content: flex-start;
}

.link-1 {
  text-decoration: none;
  color: #e5e7eb;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 400px;
}

.link-2 {
  text-decoration: none;
  color: #e5e7eb;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 10px;
}

.link-3 {
  text-decoration: none;
  color: #e5e7eb;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 20px;
}

.link-1:active {
  text-decoration: none;
  color: #babbbd;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 400px;
}

.link-2:active {
  text-decoration: none;
  color: #babbbd;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 10px;
}

.link-3:active {
  text-decoration: none;
  color: #babbbd;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 20px;
}

.parent-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #1f753a;
  width: 1441px;
  height: 360px;
}

.parent-2-text {
  width: 5000px;
  display: flex;
  flex-direction: column;
}

.text1 {
  font: 48px Roboto, sans-serif;
  color: #f9f8fa;
  margin-left: 90px;
  margin-top: 30px;
}

.text2 {
  font: 18px Roboto, sans-serif;
  color: #e5e7eb;
  margin-left: 90px;
  margin-top: 30px;
}

.sign-up-1 {
  color: #e5e7eb;
  margin-left: 90px;
  margin-top: 30px;
}

.button-1 {
  background-color: #65810c;
  color: #f9f8fa;
  font: 15px Roboto, sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  border: 10px;
}

.button-1:active {
  background-color: #1ec92b;
}

.image {
  margin-top: 50px;
  margin-right: 400px;
  border: 5px solid #3eb450;
  border-radius: 10px;
}

.parent-3 {
  display: flex;
  width: 1441px;
  flex-direction: column;
  background-color: #f9f8fa;
  height: 360px;
}

.text3 {
  text-align: center;
  margin-top: 10px;
  font: 36px Roboto, sans-serif;
  color: #1f2937;
  height: 100px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-1 {
  border: 5px solid #50ef68;
  border-radius: 10px;
}

.img-2 {
  border: 5px solid #50ef68;
  border-radius: 10px;
}

.img-3 {
  border: 5px solid #50ef68;
  border-radius: 10px;
}

.captions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font: 28px Roboto, sans-serif;
  color: #4a515f;
  height: 100px;
}

.parent-4 {
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
  width: 1441px;
  height: 330px;
}

.quote {
  font: 36px Roboto, sans-serif;
  font-style: italic;
  margin-top: 100px;
  margin-left: 200px;
}

.source {
  font: 25px Roboto, sans-serif;
  margin-top: 25px;
  margin-left: 900px;
}

.parent-5 {
  display: flex;
  background-color: #efefef;
  flex-direction: column;
  width: 1441px;
  height: 270px;
  align-items: center;
}

.box {
  display: flex;
  background-color: #3882f6;
  margin-top: 100px;
  width: 1000px;
  border-radius: 6px;
  flex-direction: row;
  height: 100px;
}

.bluetext {
  display: flex;
  flex-direction: column;
  width: 650px;
}

.bluetext1 {
  color: #e5e7eb;
  font: 20px Roboto, sans-serif;
  margin-top: 30px;
  margin-left: 80px;
}

.bluetext2 {
  color: #cbcbcb;
  font: 15px Roboto, sans-serif;
  margin-top: 10px;
  margin-left: 84px;
}

.button-2 {
  color: #e7e5eb;
  font: 20px Roboto, sans-serif;
  background-color: #3882f6;
  margin-top: 35px;
  margin-left: 100px;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid white;
}

.button-2:active {
  background-color: #da7005;
  color: #e5e7eb;
}

.parent-6 {
  display: flex;
  background-color: #133b20;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  width: 1409px;
}

.bottom-text {
  color: #e5e7eb;
  font: 20px Roboto, sans-serif;
}

.bottom-link {
  text-decoration: none;
  color: #BBF3A9;
  font: 20px Roboto, sans-serif;
}

.bottom-link:active {
  color: #babbbd;
}
