body{
  margin: 0px;
}

.parent{
  display: flex;
  flex-direction: column;
}

.parent-1{
  display: flex;
  background-color: #1F2937;
  padding: 1rem; 
  align-items: flex-end;
  width: 1409px;
  justify-content: flex-start;
}

.header{
  color: #F9F8FA;
  font: 15px Roboto, sans-serif;
  font-size: 24px;
  margin-top: 0px;
  margin-left: 70px
}

.links{
  display: flex;
  justify-content: flex-start;
}

 .link-1 {
  text-decoration: none;
  color: #E5E7EB;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 400px;
}

.link-2 {
  text-decoration: none;
  color: #E5E7EB;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 10px;
}

.link-3 {
  text-decoration: none;
  color: #E5E7EB;
  font: 18px Roboto, sans-serif;
  margin-top: 0px;
  margin-left: 20px;
}

.parent-2{
  background-color: #093665;
  height: 300px;
}

.text1{
  font: roboto, sans-serif;
  font-size: 48px;
  color: #F9F8FA;
  margin-left: 90px;
  margin-top: 30px;
}

.text2{
  font: roboto, sans-serif;
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 90px;
  margin-top: 30px;
}

.sign-up-1{
  
  color: #E5E7EB;
  margin-left: 90px;
  margin-top: 30px;
}

.button-1{
  background-color: #3882F6;
  color: #F9F8FA;
  font: roboto, sans-serif;
  font-size: 14px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
  border: 10px;
}

.button-1:active{
  background-color: #1EC92B;
}
